html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    box-sizing: border-box
}

*,
:before,
:after {
    box-sizing: inherit
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Regular.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Medium.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Medium.woff)format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Semibold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Semibold.woff)format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Bold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Bold.woff)format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Black.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Black.woff)format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Regular.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Medium.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Medium.woff)format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Semibold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Semibold.woff)format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Bold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Bold.woff)format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Black.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Black.woff)format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: Cash Sans Mono;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansMono-Regular.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansMono-Regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Cash Sans, Helvetica Neue, helvetica, sans-serif
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Regular.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Medium.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Medium.woff)format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Semibold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Semibold.woff)format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Bold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Bold.woff)format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Black.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Black.woff)format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Regular.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Medium.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Medium.woff)format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Semibold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Semibold.woff)format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Bold.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Bold.woff)format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cash Sans Wide;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansWide-Black.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansWide-Black.woff)format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: Cash Sans Mono;
    src: url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSansMono-Regular.woff2)format("woff2"), url(https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSansMono-Regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Cash Sans, Helvetica Neue, helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400
}